server:
  port: 8085

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      snapshot-group-id: analyzer-snapshots-group
      hub-event-group-id: analyzer-hub-events-group
      auto-offset-reset: earliest
      enable-auto-commit: false
      properties:
        session.timeout.ms: 30000
        heartbeat.interval.ms: 10000
        max.poll.interval.ms: 300000
        max.poll.records: 500
    topics:
      hub-topic-name: telemetry.hubs.v1
      snapshots-topic-name: telemetry.snapshots.v1

  datasource:
    url: jdbc:postgresql://localhost:5432/smart_home
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

grpc:
  server:
    port: -1
  client:
    hub-router:
      address: static://localhost:59090
      negotiation-type: plaintext
      enable-keep-alive: true
      keep-alive-without-calls: true